bg_icon($type)//$type=0123 $p=0123
  background-image url($type)
  background-repeat no-repeat
  background-size  100%
  overflow hidden
clearFix()
  *zoom 1
  &::after
    content ''
    display block
    clear both


